<link rel="stylesheet" href="/resources/styles/panel/course/courseList.css" />

<style>
  body {
    background-color: #2e4051 !important;
  }
  .right_side {
    position: sticky;
  }
  .left_side {
    align-items: center;
    justify-content: center;
  }
  .table__options p:nth-child(n) {
    flex-basis: calc(100% / 5) !important;
  }
  .table__no p:nth-child(n) {
    flex-basis: calc(100% / 5) !important;
  }
</style>

<div class="left_side" style="padding: 0">
  <div class="table" id="myTable">
    <div class="table__options">
      <p>عنوان دوره</p>
      <p>مدرس</p>
      <p>دسته</p>
      <p>قیمت</p>
      <p>تعداد فروش</p>
    </div>

    <div class="table__no__wrapper">
      <% let count = 0 %> <% courses.docs.forEach(course => { %> <% count =
      count + 1 %>
      <div class="table__no">
        <p><%= course.title %></p>
        <p><%= course.user.name %></p>
        <p><%= course.cateTitle %></p>
        <p><%= course.price %></p>
        <p><%= course.salesCount %></p>
      </div>
      <div class="table__no">
        <div class="table__no-actions flexOne">
          <div class="buttons flexOne justify-content-around">
            <% if(!course.video) { %>
            <a
              href="/admin/courses/<%= course._id %>/create/video"
              class="buttons_two"
              >اضافه کردن ویدیو چکیده</a
            >
            <% } else { %>
            <a
              href="/admin/courses/<%= course._id %>/edit/video"
              class="buttons_two"
              >ویرایش ویدیو چکیده</a
            >
            <% } %>
            <a
              href="/admin/episodes/create/<%= course._id %>"
              class="buttons_two"
              >اضافه کردن قسمت</a
            >
            <a
              href="/admin/courses/<%= course._id %>/episodes"
              class="buttons_two"
              >لیست قسمت ها</a
            >
            <form
              action="/admin/courses/<%= course._id %>?_method=DELETE"
              method="post"
              class="d-flex"
            >
              <a
                href="/admin/courses/<%= course._id %>/edit"
                class="buttons_two"
                >ویرایش</a
              >
              <button type="submit" class="buttons_one">حذف</button>
            </form>
          </div>
        </div>
      </div>
      <% if(count != courses.docs.length) {%>
      <hr />
      <% } %> <% }) %>
    </div>

    <%- include(viewPath('layouts/pagination') ,{ pagination : courses}) %>
  </div>
</div>
