<style>
  .buttons button {
    border-radius: 0.2em;
    background: #007bff;
    color: white;
    padding: 0.6em;
    border: none;
    width: 5em;
    margin-right: 3.8em;
    font-family: sans-serif;
  }
  .buttons_one {
    border-radius: 0.2em;
    background: #dc3545 !important;
    text-decoration: none;
    color: white;
    padding: 1em;
  }
  body {
    background-color: #2e4051 !important;
  }
  .right_side {
    top: 0 !important;
  }
</style>

<script>
  function openOrCloseNav() {
    if (parseInt(document.getElementById('mySidenav').style.width) > 0) {
      document.getElementById('mySidenav').style.width = '0'
      document.getElementById('mySidenav').style.display = 'none'
      document.getElementById('myWrapper').style.justifyContent = 'center'
      document.getElementById('myWrapper').style.alignItems = 'center'
    } else {
      document.getElementById('mySidenav').style.display = 'block'
      document.getElementById('myWrapper').style.justifyContent = 'flex-start'
      document.getElementById('myWrapper').style.alignItems = 'baseline'
      document.getElementById('mySidenav').style.width = '250px'
    }
  }
</script>

<div class="left_side d-flex flex-column">
  <% if(req.user.isTeacher) { %>
  <div style="text-align: center">
    <a
      href="/admin/teacher-report"
      class="btn btn-secondary btn-icon mb-4"
      target="_blank"
    >
      <span class="btn-inner--text">مشاهده گزارش آماری فروش های شما</span>
    </a>
  </div>
  <% } %>
  <!-- <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5 course-details">
        </div> -->
  <div class="d-flex">
    <!--  -->
    <% if(req.user.admin) { %>
    <div class="tickets">
      <div class="tickets__title" style="margin-top: 1em">
        <p>آخرین سفارش ها</p>
      </div>

      <div class="tickets__options" style="margin-top: 1em">
        <p>کاربر</p>
        <p>دوره</p>
        <p>قیمت</p>
      </div>

      <div class="tickets__no__wrapper">
        <% orders.docs.forEach(order => { %>
        <div class="tickets__no">
          <div class="tickets__no-id"><p><%= order.userTitle %></p></div>
          <div class="tickets__no-name"><%= order.courseTitle %></div>
          <div class="tickets__no-price"><%= order.coursePrice %></div>
        </div>

        <% }) %> <%- include(viewPath('layouts/pagination') ,{ pagination :
        orders}) %>
      </div>
    </div>
    <% } %>
    <!--  -->
    <% if(!req.user.admin) { %>
    <div class="flexOne d-flex justify-content-center align-items-center">
      <% } %>
      <div class="inOneLook">
        <div class="inOneLook__blocks">
          <div class="inOneLook__blocks__mark inOneLook__blocks__mark__one">
            1
          </div>

          <div class="inOneLook__context_wrapper">
            <div class="inOneLook__blocks_icon">
              <img src="../resources/images/01.png" />
            </div>
            <div class="inOneLook__blocks_p_wrapper">
              <div class="inOneLook__blocks_title"><p>تعداد فروش ها</p></div>
              <div class="inOneLook__blocks_counter">
                <p><%= ordersForLength.length %></p>
              </div>
            </div>
          </div>
        </div>

        <div class="inOneLook__blocks">
          <div class="inOneLook__blocks__mark inOneLook__blocks__mark__two">
            2
          </div>
          <div class="inOneLook__context_wrapper">
            <div class="inOneLook__blocks_icon">
              <img src="../resources/images/02.png" />
            </div>
            <div class="inOneLook__blocks_p_wrapper">
              <div class="inOneLook__blocks_title"><p>تعداد دوره ها</p></div>
              <div class="inOneLook__blocks_counter">
                <p><%= courses.length %></p>
              </div>
            </div>
          </div>
        </div>

        <div class="inOneLook__blocks">
          <div class="inOneLook__blocks__mark inOneLook__blocks__mark__one">
            3
          </div>
          <div class="inOneLook__context_wrapper">
            <div class="inOneLook__blocks_icon">
              <img src="../resources/images/04.png" />
            </div>
            <div class="inOneLook__blocks_p_wrapper">
              <div class="inOneLook__blocks_title"><p>تعداد دسته ها</p></div>
              <div class="inOneLook__blocks_counter">
                <p><%= categoris.length %></p>
              </div>
            </div>
          </div>
        </div>

        <div class="inOneLook__blocks">
          <div class="inOneLook__blocks__mark inOneLook__blocks__mark__two">
            4
          </div>
          <div class="inOneLook__context_wrapper">
            <div class="inOneLook__blocks_icon">
              <img src="../resources/images/03.png" />
            </div>
            <div class="inOneLook__blocks_p_wrapper">
              <div class="inOneLook__blocks_title"><p>تعداد اپیزود ها</p></div>
              <div class="inOneLook__blocks_counter">
                <p><%= episodes.length %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if(!req.user.admin) { %>
    </div>
    <% } %>
  </div>
  <!--  -->
  <% if(req.user.admin) { %>
  <div class="d-flex mt-5">
    <div class="tickets" style="flex-basis: 100%">
      <div class="tickets__title" style="margin-top: 1em">
        <p>آخرین نظرات بررسی نشده</p>
      </div>

      <div class="tickets__options" style="margin-top: 1em">
        <p style="flex-basis: 30%">نام ارسال کننده</p>
        <p style="flex-basis: 30%">مطلب</p>
        <p style="flex-basis: 38%">عملیات</p>
      </div>

      <div class="tickets__no__wrapper">
        <% let count = 0 %> <% comments.forEach(comment => { %><% count = count
        + 1 %>
        <div class="d-flex">
          <div
            style="flex-basis: 31%"
            class="d-flex justify-content-center align-item-center"
          >
            <p><%= comment.user.name %></p>
          </div>
          <div
            style="flex-basis: 31%"
            class="d-flex justify-content-center align-item-center"
          >
            <p>
              <% if(comment.course) { %>
              <a href="<%= comment.course.path() %>"
                ><%= comment.course.title %></a
              >
              <% } else if(comment.episode) { %>
              <a href="<%= comment.episode.path() %>"
                ><%= comment.episode.title %></a
              >
              <% } %>
            </p>
          </div>
          <div style="flex-basis: 38%" class="flexOne">
            <div
              class="buttons d-flex justify-content-center align-item-center flexOne"
              style="margin-left: 3em"
            >
              <form
                action="/admin/comments/<%= comment.id %>/approved?_method=PUT"
                method="post"
                class="d-flex"
              >
                <button type="submit">تایید</button>
              </form>
              <form
                action="/admin/comments/<%= comment.id %>?_method=DELETE"
                method="post"
                class="d-flex"
              >
                <button type="submit" class="buttons_one">رد</button>
              </form>
            </div>
          </div>
        </div>

        <div class="mt-4" style="padding: 0 3em 0 3em">
          <p class="tar text-muted">متن نظر : <%= comment.comment %></p>
        </div>

        <% if(count != comments.length) {%>
        <hr />
        <% } %> <% }) %>
      </div>
      <div class="mt-0 mb-3">
        <%- include(viewPath('layouts/pagination') ,{ pagination : commentsAlt})
        %>
      </div>
    </div>
  </div>
  <% } %>
</div>
