<section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-light">
  <!-- Container -->
  <div class="container position-relative zi-100">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center">
          <div class="mt-4 mb-6">
            <h2 class="h1 color-dark">بخش نظرات</h2>
            <h4 class="color-dark mt-3">
              تعداد نظرات : <%= course.comments.length %>
            </h4>
          </div>
        </div>
      </div>
    </div>

    <% course.comments.forEach(comment => { %>
    <div class="episode">
      <div class="enhanced-row">
        <div>
          <div class="text-white mr-4" style="width: 4rem; height: 4rem">
            <img
              alt="lock"
              class="icon icon-shape rounded-circle text-white mr-4"
              src="/resources/images/avatar.png"
              width="39px"
              height="39px"
            />
          </div>
        </div>
        <div>
          <div class="mr-4 mt-3" style="display: flex; font-size: 0.8em">
            <p class="ml-2">ارسال شده توسط : <%= user.name %></p>
          </div>

          <div class="mr-4">
            <p class="ml-2"><%= comment.comment %></p>
          </div>
        </div>
      </div>
    </div>
    <% }) %> <%- include(viewPath('layouts/pagination') ,{ pagination :
    course.comments}) %>
    <!-- Form -->
    <% if(auth.check) { %>
    <form role="form" action="/comment" method="post">
      <input
        type="hidden"
        name="<%= subject.constructor.modelName.toLowerCase() %>"
        value="<%= subject.id %>"
      />
      <div class="input-group" style="flex-direction: row; align-items: center">
        <textarea
          name="comment"
          id="comment"
          placeholder="نظر خود را وارد کنید"
          class="form-control"
          style="background-color: rgb(228 230 233); border-radius: 0.3em"
        >
            <%= old('comment') %></textarea
        >
        <button
          type="submit"
          class="btn btn-primary btn-icon mr-4"
          style="max-height: 3em"
        >
          ارسال
        </button>
      </div>
    </form>
    <% } %>
  </div>
</section>
