<% let count = 1 %>
<section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
  <!-- Container -->
  <div class="container position-relative zi-100">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center">
          <div class="mt-4 mb-6">
            <h2 class="h1 text-white">نظرات شما</h2>
            <h4 class="text-white mt-3">
              تعداد نظرات : <%= commentsAlt.total %>
            </h4>
          </div>
        </div>
      </div>
    </div>

    <% comments.forEach(comment => { %>
    <div class="episode">
      <div class="enhanced-row flexOne">
        <div>
          <div
            class="icon icon-shape rounded-circle bg-warning text-white mr-4"
            style="width: 4rem; height: 4rem"
          >
            <p class="mt-0 mb-0"><%= count %></p>
          </div>
        </div>
        <div class="mr-4 d-flex flex-column flexOne tar">
          <p class="lead text-muted mt-0 mb-0" style="font-size: 0.8em">
            ارسال شده در موضوع : <%= comment.course.title %>
          </p>
          <p class="lead text-muted mt-0 mb-0"><%= comment.comment %></p>
        </div>
      </div>
    </div>

    <% count = count + 1 %> <% }) %> <%- include(viewPath('layouts/pagination')
    ,{ pagination : commentsAlt}) %>
  </div>
</section>
