<link rel="stylesheet" href="/resources/styles/panel/course/courseList.css" />

<style>
  body {
    background-color: #2e4051 !important;
  }
  .right_side {
    position: sticky;
  }
  .left_side {
    align-items: center;
    justify-content: center;
  }
</style>

<div style="display: flex; margin-right: 9em">
  <a href="/admin/comments/approved" class="btn btn-sm btn-primary"
    >کامنت های تایید نشده</a
  >
</div>

<div class="left_side" style="padding: 0">
  <div class="table" id="myTable">
    <div class="table__options">
      <p>نام ارسال کننده</p>
      <p>مطلب</p>
      <p>عملیات</p>
    </div>

    <div class="table__no__wrapper">
      <% let count = 0 %> <% comments.forEach(comment => { %><% count = count +
      1 %>

      <div class="table__no">
        <p><%= comment.user.name %></p>
        <p>
          <% if(comment.course) { %>
          <a href="<%= comment.course.path() %>"><%= comment.course.title %></a>
          <% } else if(comment.episode) { %>
          <a href="<%= comment.episode.path() %>"
            ><%= comment.episode.title %></a
          >
          <% } %>
        </p>

        <div class="table__no-actions flexOne">
          <div class="buttons">
            <form
              action="/admin/comments/<%= comment.id %>?_method=DELETE"
              method="post"
              class="d-flex"
            >
              <button type="submit" class="buttons_two">رد</button>
            </form>
          </div>
        </div>
        <div class="mt-4 ">
          <p class="tar text-muted">متن نظر : <%= comment.comment %></p>
        </div>
      </div>
      <% if(count != comments.length) {%>
      <hr />
      <% } %> <% }) %>
    </div>

    <%- include(viewPath('layouts/pagination') ,{ pagination : commentsAlt}) %>
  </div>
</div>
