<style>
  .fill-section-secondary {
    fill: #3752a3 !important;
  }
</style>

<body>
  <% let count = 1 %>
  <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
    <!-- Container -->
    <div class="container position-relative zi-100">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center">
            <div class="mt-4 mb-6">
              <h2 class="h1 text-white">سبد خرید</h2>
              <h4 class="text-white mt-3">
                تعداد سفارش ها : <%= ordersAlt.total %>
              </h4>
            </div>
          </div>
        </div>
      </div>

      <% orders.forEach(order => { %>
      <div class="episode">
        <div class="enhanced-row" style="flex-basis: 30%">
          <div style="flex-basis: 20%">
            <div
              class="icon icon-shape rounded-circle bg-warning text-white mr-4"
              style="width: 4rem; height: 4rem"
            >
              <p class="mt-0 mb-0"><%= count %></p>
            </div>
          </div>
          <div
            class="mr-4"
            style="flex-basis: 60%; display: flex; justify-content: start"
          >
            <a href="<%= order.course.path() %>">
              <p class="lead text-muted mt-0 mb-0">
                <%= order.course.title %>
              </p></a
            >
          </div>
        </div>
      </div>

      <% count = count + 1 %> <% }) %> <%-
      include(viewPath('layouts/pagination') ,{ pagination : ordersAlt}) %>
    </div>
  </section>
</body>
