<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100">
      <div class="col-md-6 col-lg-5 col-xl-5 py-6 py-md-0">
        <div class="card shadow zindex-100 mb-0">
          <div class="card-body px-md-5 py-5">
            <div class="mb-1">
              <h6 class="h3 tar">مدرس شوید</h6>
              <% if(req.user.isTeacher) { %>
                <p class="text-muted mt-2 mb-2 tar">
                شما در حال حاضر مدرس هستید
              </p>
              <% } else {%>
              <p class="text-muted mb-4 tar">
                درخواست خود را برای مدرس شدن بفرستید
              </p>
            </div>
            <div class="mb-2">
              <% let flag = false %> <% if(errors.length > 0) { %> <% flag =
              true %>
              <h6 class="h3 tar">خطا</h6>
              <p class="text-muted mb-0 tar">
                <% errors.forEach(error => { %> <%= error %><br />
                <% }) %>
              </p>
              <% } %>
            </div>
            <span class="clearfix"></span>
            <form
              class="form-horizontal"
              method="POST"
              action="/teacher/<%= req.user._id %>"
              enctype="multipart/form-data"
              novalidate
            >
              <div class="form-group tar">
                <label class="form-control-label">رشته تحصیلی</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i data-feather="book"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control tar"
                    id="field"
                    placeholder="رشته تحصیلی خود را وارد کنید"
                    name="field"
                    value="<%= old('field') %>"
                  />
                </div>
              </div>
              <!--  -->
              <div class="form-group tar">
                <label class="form-control-label">دانشگاه</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i data-feather="briefcase"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control tar"
                    id="college"
                    placeholder="دانشگاه خود را وارد کنید"
                    value="<%= old('college') %>"
                    name="college"
                  />
                </div>
              </div>

              <div class="form-group tar">
                <label class="form-control-label tar w100 mb-4">رزومه</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i data-feather="file"></i
                    ></span>
                  </div>
                  <input
                    value="<%= old('resume') %>"
                    class="form-control tar"
                    type="file"
                    class="form-control form-control-muted"
                    name="resume"
                    id="resume"
                    accept="image/png,application/pdf"
                    placeholder="رزومه خود را وارد کنید"
                  />
                </div>
              </div>

              <div class="mt-4">
                <button type="submit" class="btn btn-block btn-primary">
                  ثبت درخواست
                </button>
              </div>
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
