<section class="slice slice-lg bg-section-light">
  <div class="container">
    <!-- Row -->
    <div class="course-title">
      <h2 class="mt-4">دوره های پسند شده</h2>
      <h5 class="mt-4 mb-4">تعداد پسند ها: <%= coursesAlt.total %></h5>
    </div>
    <%if (coursesAlt.total > 0) { %> <% if(coursesAlt.total > 1) { %>
    <div class="row mt-5 justify-content-center">
      <% } else { %>
      <div class="row mt-5 justify-content-start">
        <% } %>
        <!-- Course -->
        <% courses.forEach(course => { %>
        <div class="col-md-4">
          <div class="card card-setted-height">
            <div class="card-body pb-5">
              <div class="pt-4 pb-5">
                <img
                  src="<%= course.thumb %>"
                  class="img-fluid img-center"
                  style="height: 150px"
                  alt="<%= course.title %>"
                />
              </div>
              <a href="<%= course.path() %>">
                <h5 class="h4 lh-130 mb-3 tar"><%= course.title %></h5></a
              >
              <div class="course-subcontent">
                <p class="text-muted mb-0 tar">
                  <%= course.body.substr(0,40) %>
                </p>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <a href="<%= course.path() %>">
                    <span class="badge badge-soft-show badge-pill badge-lg">
                      مشاهده
                    </span>
                  </a>
                </div>
                <div class="col-lg-6">
                  <span class="badge badge-soft-success badge-pill badge-lg">
                    قیمت : <%= course.price %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
        <!-- Course -->
        <% if(coursesAlt.total > 1) { %>
      </div>
      <% } else { %>
    </div>
    <% } %> <% } else { %>
      <p class="tar">دوره ای موجود نیست</p>
    <% } %>
    <!-- Row -->
    <%- include(viewPath('layouts/pagination') ,{ pagination : coursesAlt}) %>
  </div>
</section>
